#spinner{
    width: 64px;
    height: 64px;
    background-color: blueviolet;
    animation: rotation 1.5s infinite;
}

@keyframes rotation{
    from{
        transform: rotate(0 deg);
    }
    to{
        transform: rotate(360 deg);
    }
}